## Preiliminary code

In [9]:
# IMPORT PACKAGES
import pandas as pd
import matplotlib.pyplot as plt
import datetime

**Selecting companies to study**

From our `news_data` we can see what companies are mentioned and in how many articles. We of course would like to study those companies that are mentioned most often so we have more data to perform our sentiment analysis on. Nevertheless our `stock_data` also will condition this choice, as we want to select companies with the highest market cap possible so the finance data is most granular (e.g. every few minutes there is a stock value point) and people are most likely interested in it. Therefore we now find those companies that are most often mentioned in the `news_data` and also have the highest market cap.

In [27]:
# READ DATA SETS

    # FINANTIAL NEWS 
news = pd.read_csv(r"C:\Users\user\OneDrive - UvA\Desktop\UvAs\Curso 4\Scientific Data Analysis\project\data\us_equities_news_dataset.csv")

    # TOP 7106 COMPANIES BY MARKET CAP
market = pd.read_csv(r"C:\Users\user\OneDrive - UvA\Desktop\UvAs\Curso 4\Scientific Data Analysis\project\data\companiesmarketcap.com - Companies ranked by Market Cap - CompaniesMarketCap.com.csv")

In [58]:
# FIND MOST FREQUENTLY MENTIONED TICKERS
tickers = news['ticker'].value_counts()
tick_mc = market[['Rank','Symbol','marketcap']]
tick_an = pd.DataFrame({'Symbol':list(tickers.index),'Article_n':list(tickers)})
tick_mc_an = tick_mc.merge(tick_an, on = 'Symbol').head(n=20).sort_values(by= 'Article_n', ascending= False)
tick_mc_an.head(n = 20)

    Rank Symbol      marketcap  Article_n
0      1   AAPL  2245746491392      20231
1      3   MSFT  1791532859392       8110
16    25    BAC   296829911040       7409
2      5   AMZN   942841135104       6330
3      7   TSLA   562562130000       4283
6     10    XOM   455235764224       2831
9     14    JPM   400557768704       2600
19    32     KO   270195392512       1367
8     12    WMT   415197298688       1267
11    17    CVX   350046846976       1105
5      9    JNJ   460383748096        763
15    23     HD   322023260160        614
13    20     PG   344743968768        584
18    30    MRK   275952926720        575
17    29    PFE   277802713088        545
12    19    LLY   345817284608        469
10    15   NVDA   389723881472        415
14    21     MA   329905766400        378
4      8    UNH   493336264704        327
7     11      V   442776518656        193

In [18]:
apple_data = news[news['ticker'] == 'AAPL']
# plt.hist(apple_data['release_date'])
# plt.xticks()

max(apple_data['release_date'])[8:10]
date_max = datetime.date(int(max(apple_data['release_date'])[0:4]),int(max(apple_data['release_date'])[5:7]),int(max(apple_data['release_date'])[8:10]))
date_min = datetime.date(int(min(apple_data['release_date'])[0:4]),int(min(apple_data['release_date'])[5:7]),int(min(apple_data['release_date'])[8:10]))

'28'