# SDA: Project

**Name**: Nitai Nijholt

**Student ID**: 12709018

In [ ]:
#loading the Twitter sentiment dataset

In [46]:
import pandas as pd
import numpy as np
import sklearn as sk
import os
import matplotlib.pyplot as plt

In [10]:
#returning the filenames

dirname = 'C:\\Users\\Nitai Nijholt\\OneDrive\\Desktop\\Scientific Data Analaysis Uva Course\\Project\\'
filenames = os.listdir(dirname)
filenames

['tweets_labelled_09042020_16072020.csv',
 'tweets_remaining_09042020_16072020.csv']

In [22]:
# Twitter sentiment data about stocks, labeled: 'tweets_labelled_09042020_16072020.csv',
# reference to dataset: https://www.kaggle.com/datasets/utkarshxy/stock-markettweets-lexicon-data

twitter_sentiment_data_labled = pd.read_csv(dirname + filenames[0], sep=';',error_bad_lines=False )

df = twitter_sentiment_data_labled

In [21]:
twitter_sentiment_data_labled.shape

(5000, 4)

In [23]:
df.columns

Index(['id', 'created_at', 'text', 'sentiment'], dtype='object')

In [ ]:
#data cleaning

In [37]:
df[df['sentiment'].isnull()]

,id,created_at,text,sentiment
1300,254563,2020-04-29 01:57:02+00:00,- @investbamboo get $ share on Bamboo then. [ ...,NaN
1301,280832,2020-05-05 17:58:44+00:00,H&amp;S just formed on 4h chart $spx $spy http...,NaN
1302,672447,2020-06-26 15:29:14+00:00,@EddyElfenbein what happened to $FB?,NaN
1303,146759,2020-04-21 11:53:54+00:00,RT @CHItraders: $AAPL expands services busines...,NaN
1304,116538,2020-04-19 23:34:14+00:00,RT @Lakshmi_888: #SPX $SPX #ES_F $NQ $RUT #DAX...,NaN
...,...,...,...,...
4995,411380,2020-06-04 18:14:57+00:00,"With ad revenues falling, whatâ€™s the impact on...",NaN
4996,62318,2020-04-14 02:15:01+00:00,RT @KelvinSCWong: Well another point to add to...,NaN
4997,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN
4998,890123,2020-07-14 23:18:34+00:00,"$DIS it could break the 120 pin, then 125&gt; ...",NaN
4999,301411,2020-05-06 04:22:19+00:00,Amedisys Inc $AMED COO Christopher Gerard Sell...,NaN

In [43]:
df[df['sentiment'].notnull()]

,id,created_at,text,sentiment
0,77522,2020-04-15 01:03:46+00:00,"RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...",positive
1,661634,2020-06-25 06:20:06+00:00,#SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...,negative
2,413231,2020-06-04 15:41:45+00:00,Net issuance increases to fund fiscal programs...,positive
3,760262,2020-07-03 19:39:35+00:00,RT @bentboolean: How much of Amazon's traffic ...,positive
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive
...,...,...,...,...
1295,75519,2020-04-15 06:00:10+00:00,#stocks back from the recovery room: https://t...,positive
1296,739234,2020-07-01 11:29:10+00:00,RT @MacroCharts: Breadth â€“ expanding last week...,positive
1297,254379,2020-04-29 02:21:50+00:00,RT @MawsonResource: Rompas-Rajapalot: A Big Ne...,neutral
1298,580441,2020-06-19 17:56:57+00:00,$AAPL $QQQ Top may now be in. https://t.co/iNK...,positive
1299,625070,2020-06-23 15:47:11+00:00,GLG Partners LP short position in HILTON FOOD ...,negative

We can see the first 1300 rows have sentiment data, so we quantify the sentiment data for only these rows

In [40]:
subset_data_with_sentiment = df.iloc[0:1300]

In [42]:
subset_data_with_sentiment.shape
df = subset_data_with_sentiment
# shape looks good

In [38]:
#positive

list_of_sentiment = []
list_of_rows_without_sentiment =[]
for i in df[ 'sentiment']:
    if i == 'positive':
        list_of_sentiment.append(1)
    if i == 'neutral':
        list_of_sentiment.append(0)
    if i == 'negative':
        list_of_sentiment.append(-1)

In [44]:
df['quantitative sentiment'] = list_of_sentiment

<ipython-input-44-752bd2b4f3e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quantitative sentiment'] = list_of_sentiment

In [45]:
df

,id,created_at,text,sentiment,quantitative sentiment
0,77522,2020-04-15 01:03:46+00:00,"RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...",positive,1
1,661634,2020-06-25 06:20:06+00:00,#SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...,negative,-1
2,413231,2020-06-04 15:41:45+00:00,Net issuance increases to fund fiscal programs...,positive,1
3,760262,2020-07-03 19:39:35+00:00,RT @bentboolean: How much of Amazon's traffic ...,positive,1
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive,1
...,...,...,...,...,...
1295,75519,2020-04-15 06:00:10+00:00,#stocks back from the recovery room: https://t...,positive,1
1296,739234,2020-07-01 11:29:10+00:00,RT @MacroCharts: Breadth â€“ expanding last week...,positive,1
1297,254379,2020-04-29 02:21:50+00:00,RT @MawsonResource: Rompas-Rajapalot: A Big Ne...,neutral,0
1298,580441,2020-06-19 17:56:57+00:00,$AAPL $QQQ Top may now be in. https://t.co/iNK...,positive,1
1299,625070,2020-06-23 15:47:11+00:00,GLG Partners LP short position in HILTON FOOD ...,negative,-1

In [ ]:
pyplot

In [27]:
df['quantitative sentiment'] = list_of_sentiment

ValueError: Length of values (1300) does not match length of index (5000)